*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
}

ul{
  list-style: none;
  display: flex;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(132, 151, 217, 1);
  margin: 5px 0;
  align-items: center;
}

li{
  width: calc((100% - 100px)/4);
  text-align: center;
}

button{
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 10px 0 0;
}

span{
  margin-left: 15px;
}

option{
  color: rgba(55, 67, 110, 0.8);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headers{
  background-color: rgba(55, 67, 110, 1);
}

.buttons{
  width: 250px;
  display: flex;
}

.icon-pencil{
  margin-right: 5px;
}

.icon-box-add{
  align-self: flex-end;
  margin: 10px 30px;
  background-color: rgba(55, 67, 110, 1);
}

.status:before{
  position: absolute;
  left: 10px;
}

.addForm{
  background-color: rgba(55, 67, 110, 1);
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 250px;
  color: rgba(55, 67, 110, 1);
  border-radius: 5px;
}

.formField{
  display: flex;
  margin-bottom: 10px;
  width: 600px;
  height: 25px;
  outline: none;
  padding: 0 10px;
  color: rgba(55, 67, 110, 0.8);
  border: none;
}

.formBtn{
  background-color: rgba(132, 151, 217, 1);
}

.icon-cross{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileInput{
  width: 600px;
  height: 25px;
}

.download{
  background-color: rgba(55, 67, 110, 1);
  font-size: 12px;
}

